.elImperio{background-color: red;}
.losRebeldes{background-color: blue;}
#sizeFont{font-size: x-large;}
#fontItalic{font-style: italic;}
.bordersS{border-style: solid; border-color: yellow;}
.spacingS{letter-spacing: 3px;}
.centrarU{text-align: center;}
.mayusN{text-transform: uppercase;}